@charset "UTF-8";

body{background: linear-gradient(to left, #008000a4, #4dff4da4);}

h1{
    background: linear-gradient(to right, rgb(0, 255, 0), rgba(0, 255, 0, 0));
  
}
.animal>h1{text-align: right;
    background: linear-gradient(to left,rgb(24, 85, 0), rgba(116, 81, 81, 0));}

nav>ul>li{background-color: rgb(24, 224, 67);}    
nav>ul>li:hover{ background-color: rgb(0, 250, 0); }



#hortaliças,#animais{list-style-type: none;

}
#em_breve{background-color: rgba(31, 145, 31, 0.651); border: 5px solid rgb(5, 63, 8);}
